.contain{
   background-image: url("../image/anitha.jpg");
   background-position: center;
   background-size:cover;
   height:750px;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align: center;
   width: 1270px;
}
.ronah{
   text-align: center;
   background-color: gray;
   height:750px
}