.contain{
   background-image: url("../image/anitha.jpg");
   background-position: center;
   background-size:cover;
   height:750px;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align: center;
   width: 1270px;
}
.ronah{
   text-align: center;
   /* background-color:rgb(220,220,220); */
   background-image: url("https://image.shutterstock.com/image-photo/pepperoni-pizza-melted-cheese-600w-1086348650.jpg");
   background-position: center;
   background-size:cover; 
   /* display:flex;
   justify-content:center;
   align-items:center;
   text-align: center; */
   width: 1270px;
   height:650px;
}
